/*@import 'colors.css'; */
@import url("resource:///org/gtk/libgtk/theme/Adwaita/gtk-contained-dark.css");

headerbar.titlebar,
headerbar.titlebar:active{
 background:#3F51B5;
}
.horizontal.path-bar-box,
row:selected:backdrop {
 background:#3F51B5;
 border-color:#3F51B5;
}
